body{
  background-color: #004F00 !important;
  color: white !important;
  text-align: center;
}
a{
  position: relative;
  text-decoration: none !important;
  color: white;
  width: 100px;
  display: inline;
}
a:hover, a:focus{
  color: white;
}
  .bell{
    display: none;
  }
  h6{
    font-size: 30px;
  }
  h1{
    font-size: 150px;
  }
  h3{
    margin-top: 100px;
    font-size: 100px;
  }
  .hero{
    font-size: 60px !important;
    display: block;
    padding: 16px;
    position: relative;
    border: 2px solid white;
    text-align: center;
    line-height: normal;
    width: 100% !important;
    height: 370px;
    border-radius: 0px;
    margin: 0px;
    transition: .2s;
  }
  .hero-img{
    margin-top: 70px;
    margin-bottom: 75px;
    transform: scale(3);
  }
  .bernadetta, .julia, .jakub, .oliwia, .author, .dealer{
    font-size: 100px !important;
    display: block;
    padding: 16px;
    position: relative;
    border: 2px solid white;
    height: auto;
    text-align: center;
    line-height: normal;
    width: 100% !important;
    height: 300px;
    border-radius: 0px;
    margin: 0px;
    transition: .2s;
  }
  .image{
    transform: scale(3);
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
    display: block;
    position: relative;
    left: auto;
    top: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
  }
  .tooltip{
    display: none !important;
  }
  .dealer:hover, .author:hover, .jakub:hover, .julia:hover, .bernadetta:hover, .oliwia:hover, .hero:hover{
    background-color: rgba(0, 0, 0, 0.15);
    filter: none !important;
    -webkit-filter: none !important;
    -moz-filter: none !important;
  }
  .dealer:focus, .author:focus, .jakub:focus, .julia:focus, .bernadetta:focus, .oliwia:focus, .hero:focus{
    background-color: rgba(0, 0, 0, 0.15);
  }
  .tooltip{
    display: none;
  }
  .discord{
    transform: scale(2);
    margin-right: 15px;
  }
  div {
    overflow: hidden;
    user-select: none;
  }
  .ripple {
    position: absolute;
    background: rgba(0,0,0,.15);
    border-radius: 100%;
    transform: scale(0);
    pointer-events: none;
  }
  .ripple.show {
    animation: ripple .75s ease-out;
  }
  @keyframes ripple {
    to {
      transform: scale(2);
      opacity: 0;
    }
  }
